* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    background-color: #f8f8f8;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #408fe5;
    padding: 50px;
  }
  
  h1 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
  }
  
  #sec_container {
    background-color: #fff;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  #container_input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
  }
  
  #container_input::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    z-index: -1;
  }
  
  #input_text {
    border: none;
    outline: none;
    height: 48px;
    width: 100%;
    max-width: 500px;
    padding: 0 16px;
    border-radius: 24px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
  }
  
  #btn {
    width: 150px;
    height: 48px;
    background-color: #408fe5;
    border: none;
    border-radius: 24px;
    color: #fff;
    margin-left: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
  }
  
  #btn:hover {
    background-color: #1c5f9e;
  }
  
  #palavra {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 16px;
    text-transform: capitalize;
  }
  
  #meaning {
    font-size: 18px;
    color: #777;
    line-height: 1.5;
    margin-bottom: 24px;
  }
  
  /* Estilos para telas menores */
  
  @media (max-width: 968px) {
    #sec_container {
      padding: 20px;
    }
  
    #input_text {
      max-width: 400px;
    }
  
    #btn {
      width: 120px;
      margin-top: 15px;
    }
  
    #container_input::before {
      display: none;
    }
  }
  .foot{
    margin-top: 15px;
  }
  
  @media (max-width: 768px) {
    #sec_container {
      padding: 20px;
      border-radius: 0;
      box-shadow: none;
    }
  }
  
  @media (max-width: 480px) {
    #input_text {
      max-width: 300px;
      font-size: 16
    }}  